* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
}

/* selects direct child elements of the container parent */
.container>div {
    background-color: grey;
    height: 60px;
    width: 60px;
}

/* selects the 17th, 33rd, ... element*/
.container>div:nth-child(17n+1) {
    width: 100%;
    border: 0;
    height: 0;
}